<h2> Comments </h2>
<%if @comments.any?%>
  <ul>
    <%@comments.each do |comment|%>
      <li> <a href="/comments/<%=comment.cid%>"><%=comment.comment%> <%= comment.created_at %> </a> </li>
    <%end%>
  </ul>
<%else%>
  <p> Oops! No comments yet. Please add one:)</p>
<%end%>
<a href="/comments/new">Create a new comment</a>