<label for="studentid">
StudentID:
<input type="text" name="student[studentid]" required>

<label for="firstname"><br>
First Name:
<input type="text" name="student[firstname]" required>
<label for="lastname"><br>
Last Name:
<input type="text" name="student[lastname]">
<label for="studentnumber"><br>
Cell number:
<input type="text" name="student[cellno]">
<label for="studentnumber"><br>

<label for="birthday">
Birthday(mm/dd/yyyy):
<input type="text" name="student[birthday]">
<label for="address"><br>
Address:
<input type="text" name="student[address]">

<p></p>
<input type="submit" value="Save Student Record">